/* ************************* Material Icon ************************* */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MaterialIcons.woff2") format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* ************************* General ************************* */
body{
    margin: 0;
}

hr{
    width: 100%;
    height: 2px;
    border: transparent;
    background-color: #e6e6e6;
    margin-top: 16px;
}
.content-area{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 272px;
    padding: 30px 16px 0px;
}

/* ************************* Material Web Components ************************* */

.mdc-top-app-bar{
    position: relative;
}

.mdc-card{
    width: 100%;
    min-width: 15em;
    max-width: 28em;
    margin: 16px;
    padding: 16px;
}
.text-field-container{
    margin-top: 16px;
    margin-bottom: 16px;
}
.mdc-text-field-100{
    width: 100%;
}
.mdc-text-field-error{
    color: var(--mdc-theme-error, #b00020) !important;
}
.mdc-typography-color{
    color: var(--mdc-theme-text-secondary-on-light, rgba(0, 0, 0, 0.54));
}

.mdc-list-item {
    height: 48px;
}
.mdc-list-item__text{
    display: flex;
    align-items: center;
    inline-size: max-content;
}

.mdc-menu-surface {
    right: 16px;
    top: 32px;
}

.mdc-list .material-icons {
    line-height: 2;
    padding-right: 16px;
}

.mdc-tooltip {
    z-index: 5;
}
/* TODO: delete when js to hidde works */
.mdc-tooltip--hide-transition{
    display: none;
}

@media (max-width: 750px) {
    .mdc-drawer {
        width: 56px;
    }
    .content-area{
        margin-left: 72px;
    }
}


/* ************************* FLEX SECCION *********************** */
.flex-center{
    justify-content: center;    
}
.flex-between{
    justify-content: space-between;    
}
.flex, .flex-center, .flex-between{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}


/* ************************* MARGIN SECCION *********************** */
.ml{
    margin-left: 8px;
}

.mr{
    margin-right: 8px;
}

.mt-1{
    margin-top: 16px;
}


/* ************************* WIDTH SECCION *********************** */
.w-3{
    width: 100%;
    max-width: 364px;
}